.example-spacer {
    flex: 1 1 auto;
  }
.mat-list-icon  {
  color: rgba(0, 0, 0, 0.54);
}


.home{
  padding: 10px;
}

.mat-table {
background: white;
}

.mat-cell, .mat-footer-cell, .mat-header-cell{
  color:black;
  /* border-bottom: 1px solid black; */
}

.mat-column-opt {
  max-width: 20px;
}


div.pDiv {
  background: rgba(0, 0, 0, 0.600); 
  width:      100%;
  height:     100%; 
  z-index:    10;
  top:        0; 
  left:       0; 
  position:   fixed; 
}

div.pDivChild {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px; /* Apply negative top and left margins to truly center the element */
}