<mat-toolbar>
  <span>Challenge Aryel</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">Nuovo</button>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="openDialog()">
    <mat-icon>insert_drive_file</mat-icon>
    Carica File
  </button>
  <button mat-menu-item>
    <mat-icon>create_new_folder</mat-icon>
    Crea Cartella
  </button>
</mat-menu>
<div class="home">
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>


<router-outlet></router-outlet>