<mat-toolbar>
  <span>Challenge Aryel</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">Nuovo</button>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="fileInput.click()">
    <mat-icon>insert_drive_file</mat-icon>
    Carica File
  </button>


  <input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file">


  <button mat-menu-item (click)="openDialog()">
    <mat-icon>create_new_folder</mat-icon>
    Crea Cartella
  </button>
</mat-menu>
<div class="home">
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef>

        <button mat-icon-button color="primary" *ngIf="navigationTree.length != 0" (click)="manageNavigation()">
          <mat-icon>arrow_back</mat-icon>
        </button>

      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <img [src]="element.extension==''?
              '../assets/images/folder.png':
              element.extension=='pdf'?'../assets/images/pdf.png':
              '../assets/images/image.png'" width="25" height="25">
      </mat-cell>
    </ng-container>


    <ng-container matColumnDef="fileName">
      <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.fileName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="modDate">
      <mat-header-cell *matHeaderCellDef> Ultima modifica </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.modDate | date :'medium'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="loadDate">
      <mat-header-cell *matHeaderCellDef> Data caricamento </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.loadDate | date :'medium'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="opt">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="tableMenu" [matMenuTriggerData]="{element: element}"
          (mouseenter)="disableRipple=true" (mouseleave)="disableRipple=false">
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="row.mime == '' && !disableRipple &&  manageFolderClick(row._id)"
      matRipple matRippleColor="rgba(0, 0, 0, 0.400)" [matRippleDisabled]="disableRipple">
    </mat-row>
  </mat-table>
</div>


<mat-menu #tableMenu="matMenu">
  <ng-template matMenuContent let-element="element">
    <button mat-menu-item (click)="downloadFile(element._id)" *ngIf="element.mime != ''">
      <mat-icon>cloud_download</mat-icon>
      Scarica
    </button>
    <button mat-menu-item (click)="deleteFile(element._id)">
      <mat-icon>delete</mat-icon>
      Elimina
    </button>
  </ng-template>
</mat-menu>

<div class="pDiv" [hidden]="progress == undefined">
  <div class="pDivChild">
    <mat-progress-spinner color="primary" mode="determinate" [value]="progress">
    </mat-progress-spinner>
    <div style="position:relative; top: -60px; left: 30px; color: rgb(255, 255, 255);">{{progress}} %</div>
  </div>
</div>



<router-outlet></router-outlet>